*{
    margin: 0px;padding: 0px;
}
body{
    background-color:black;text-align: center;color: aqua;
}
.container{
    height: 500px; width: 600px;margin: auto;
}
.game{
    height: 500px; width: 520px;display: flex;justify-content: center;align-items: center;flex-wrap: wrap;
    gap: 10px;
}
.box{
    height: 160px; width: 160px; border: 1.3px solid black; border-radius: 30px;
    transition: box-shadow 200ms ease, transform 150ms ease;font-size: 8vmax;
    background-color: aqua;font-weight: bolder;color: black;;
}
.box:hover{
  transform:translateY(-4px);background-color: yellow;
}
#reset{
    background-color: white;color: black;font-size: 20px;width: 170px;height: 37px;
    font-weight: bolder;border-radius:10px;
}
#msg{
    color: wheat;font-size:8vmin;font-weight: 800;
}
.msgcontainer{
    height: 50rem;margin-top: 16rem;
}
.hide{
    display: none;
}
#newbtn{
    background-color: white;color: black;border-radius: 10px;height: 30px;width:100px;
}